<div *ngIf="bean">
  <form (submit)='updateBean()'>
    <div class="form-group">
      <label class="whiteText">Name:</label>
      <input type="text" class="form-control"[(ngModel)]="name" name="name" placeholder="{{ bean.name }}">
    </div>
    <div class="form-group">
      <label class="whiteText">Profile:</label>
      <input type="text" class="form-control"[(ngModel)]="profile" name="profile" placeholder="{{ bean.profile }}">
    </div>
    <div class="form-group">
      <label class="whiteText">Origin:</label>
      <input type="text" class="form-control"[(ngModel)]="origin" name="origin" placeholder="{{ bean.origin }}">
    </div>
    <div class="form-group">
      <label class="whiteText">Roast:</label>
      <input type="text" class="form-control"[(ngModel)]="roast" name="roast" placeholder="{{ bean.roast }}">
    </div>
    <div class="form-group">
      <label class="whiteText">Comments:</label>
      <textarea rows='5' type="text" class="form-control"[(ngModel)]="comments" name="comments" placeholder="{{ bean.comments }}"></textarea>
    </div>
    <input type="submit" class="btn btn-success" value="Save Changes">
  </form>
</div>
